.Contents{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &_button{
        background-color: rgb(90, 208, 255);
        padding: 6px 8px;
        margin-bottom: 50px;
        width: 170px;
        height: 50px;
        border: none;
        font-weight: 600;
        font-size: 20px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 13px rgba($color: #8a8a8a, $alpha: 1.0);

        &:hover{
            background-color: rgb(144, 223, 255);
        }

        &:active{
            background-color: rgb(37, 193, 255);
        }
    }

    &_content{
        max-width: 60vw;
        box-shadow: 0px 0px 40px 15px rgba($color: #8a8a8a, $alpha: 1.0);
        border-radius: 8px;
        background-color: rgba($color: #dedede, $alpha: 0.8) ;

        &.morePadding{
            padding: 26px;
            box-shadow: none
        }
    }

    
    &_picture{
        max-width: 100%;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        object-fit: fill;
    }

    &_text{
        margin: 0;
        font-weight: 600;
        font-size: 24px;
    }
}

@media (max-width: 566px) {
    .Contents{
        padding-top: 40px;

        &_content{
            padding: 0px;
            max-width: 85vw;
            box-shadow: 0px 0px 30px 15px rgba($color: #8a8a8a, $alpha: 1.0);

            &.morePadding{
                padding: 16px;
                box-shadow: none
            }
        }

        &_button{
            width: 250px;
            font-size: 22px;
        }
    }
}