.Header {
  height: 70px;
  box-sizing: border-box;
  background-color: rgba($color: #dedede, $alpha: 0.9);
  width: 80vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 30px 10px 30px;
  margin: auto;
  z-index: 1;

  &_links {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
  }

  &_icon {
    position: relative;
    padding-top: 5px;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: all 0.5s;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &_indicator {
    position: absolute;
    box-sizing: border-box;
    bottom: -50%;
    width: 70px;
    height: 70px;
    background: rgb(90, 208, 255);
    border-radius: 50%;
    border: 6px solid transparent;
    transition: all 0.5s;
    border: 4px solid black;
  }

  &_indicator::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 10px 0px 0px black;
  }

  &_indicator::after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -1px 10px 0px 0px black;
  }

  &_link {
    z-index: 1;
    position: relative;
    width: 70px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(69, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &:hover {
      color: rgb(90, 208, 255);
    }

    &.active {
      z-index: 1;
      color: rgb(90, 208, 255);
    }
  }

  &_burger {
    display: none;
  }

}

.Header_link.active .Header_icon {
  transform: translateY(40px);
}

.Header_link.active .Header_text {
  opacity: 1;
  transform: translateY(-20px);
}

a .Header_text {
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(-50px);
}

@media (max-width: 566px) {
  .Header {
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: inherit;

    &_links {
      padding: 10px 10px 10px 35px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(222, 222, 222, 1) 40%,
        rgba(90, 208, 255, 1) 100%
      );
      position: fixed;
      top: 0px;
      left: -110%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      width: 100vw;
      transition: all 0.6s ease 0s;
    }

    &_links.active {
      transition: all 0.6s ease 0s;
      left: -0px;
    }

    &_burger-container {
      position: fixed;
      z-index: 2;
      padding: 8px;
      padding-top: 10px;
      background-color: rgba($color: #dedede, $alpha: 0.9);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 0px 0px 13px rgba($color: #8a8a8a, $alpha: 1);
    }

    &_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }

    &_burger span,
    &_burger::before,
    &_burger::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.6s ease 0s;
      background-color: rgb(0, 0, 0);
    }

    &_burger::before,
    &_burger::after {
      content: "";
    }

    &_burger::before {
      top: 0;
    }

    &_burger::after {
      bottom: 0;
    }

    &_burger span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

    &_burger.active span {
      transform: scale(0) translate(0px, -50%);
    }

    &_burger.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &_burger.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }

    &_indicator {
      display: none;
    }
  }

  .Header_link.active .Header_text {
    opacity: 1;
    transform: translateY(-50px);
  }

  .Header_link.active .Header_icon {
    transform: none;
  }

  a .Header_text {
    position: absolute;
    transition: all 0.5s;
    opacity: 1;
    transform: translateY(-50px);
  }
}
